*{
    padding: 0;
    margin:0;
}
.background-img{
    background-color: rgb(37, 37, 36);
    background-image: url('../images/bground.jpeg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.568);
   display: grid;
   grid-gap: 5px;
   grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);   

}

#box1{
   background-color: rgba(0, 0, 0, 0.699);
   margin:auto;
   padding: 3% 10%;
   margin-left: 21%;
   margin-top:10%;
   box-sizing: border-box;
   border-width: 50px;
   border:4px rgb(24, 23, 23) inset ;
   border-radius: 20px;
   position: absolute;
   width: 60%;
   height: 40%;
   


}
#box1 h2{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-variant: small-caps;
    text-shadow: 5px 4px 5px rgb(204, 165, 165);
    font-size: 50px;
    letter-spacing: 0.2em ;
	word-spacing: 1%;
    
    
   
}
#box1 input{
    border-radius: 30px;
    display: block;
    width: 80%;
    height: 20%;
    margin: auto;
    padding-left: 18px;

    
}
#box1 h6{
    color: rgb(95, 96, 97);
    text-shadow: 1px 1px 1em rgb(82, 82, 78);
    padding: 4%;
    margin-right:7%;

}

body{
    text-align: center;
}
#yes{
    background-color: rgba(255, 255, 224, 0);
    color: red;
    opacity: 0.2;
    border: none;
}
#no{
    background-color: rgba(255, 255, 224, 0);
    color: red;
    opacity: 0.2;
    border: none;
}

@media only screen and (max-width:600px) {
    
    #box1 h2{
        font-size: x-large;
    }
}

footer{
    background-color:rgb(7, 7, 7) ;
    color: lavender;
}
#answer{
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    position: absolute;
    letter-spacing: 1em ;
	text-align: center;
    display:none;
    margin-left: 40%;
    margin-top:20%;
    font-variant: small-caps;
    text-shadow: 5px 4px 5em rgb(5, 0, 0);
    background-color: rgba(51, 51, 51, 0.295);
    border: 2px solid rgba(0, 0, 0, 0.521) ;
    padding: 80px;
    width: 10%;
    height: 5%;
   
}